:root{
    --main:#ff002f;
    --text: white;
    --bg:black;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: var(--text);
}

a{
    padding: 4px;
}

a:hover{
    background-color: var(--main);
    border-radius: 5px;
}

.active{
    background-color: var(--main);
    border-radius: 5px;
    padding: 4px;
}

nav{
    background-color: black;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    margin-left: 30px;
    cursor: pointer;
}

nav .logo h1:hover{
    color: var(--main);
}

nav ol{
    display: flex;
    gap: 30px;
    cursor: pointer;
}

nav ul{
    display: flex;
    margin-right: 30px;
    cursor: pointer;
}

.menu-bar{
    display: none;
}

/* Mobile Navbar Styling */

.mobile-container{
    display: none;
}

.mobile-nav{
    background-color: var(--main);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: larger;
}

.mobile-nav a{
    padding: 3px;
}

.mobile-nav a:hover{
    background-color: var(--text);
    border-radius: 5px;
    color: var(--main);
}

.mobile-nav .logo h1{
    cursor: pointer;
}

.mobile-nav ol{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    font-size: larger;
}

.mobile-nav ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: larger;
    margin-top: 10px;
}

 .mobile-nav a:hover i{
    color: var(--main);
}

.cross{
    margin-top: 15px;
    cursor: pointer;
}

@media screen and (max-width:900px) {
    .menu-bar{
        display: block;
        margin-right: 30px;
    }
    
    nav ol{
        display: none;
    }

    nav ul{
        display: none;
    }
}